<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="100136"
    android:versionName="8.14.1_pub"
    android:compileSdkVersion="37"
    android:compileSdkVersionCodename="17"
    package="ua.itaysonlab.vkx"
    platformBuildVersionCode="37"
    platformBuildVersionName="17">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="36"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SET_VOLUME_KEY_LONG_PRESS_LISTENER"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>
    <permission
        android:label="libvkx: Receive status broadcasts"
        android:name="bruhcollective.itaysonlab.libvkx.permission.RECEIVE_BROADCASTS"
        android:protectionLevel="normal"/>
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
        <intent>
            <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE"/>
        </intent>
        <intent>
            <action android:name="bruhcollective.itaysonlab.omnibridge.action.external.DISPLAY_SETTINGS"/>
        </intent>
        <intent>
            <category android:name="android.intent.category.HOME"/>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <package android:name="re.sova.five"/>
        <package android:name="com.vtosters.android"/>
        <package android:name="com.vkmp3mod.android"/>
        <package android:name="com.vtosters.lite"/>
        <package android:name="com.vkontakte.android"/>
        <package android:name="com.tea.android"/>
        <package android:name="com.supernova"/>
        <package android:name="com.android.documentsui"/>
        <package android:name="com.google.android.documentsui"/>
        <package android:name="com.google.android.projection.gearhead"/>
        <package android:name="com.google.android.gms"/>
        <package android:name="com.google.android.gms.policy_cast_dynamite"/>
        <provider
            android:name="androidx.car.app.connection.provider"
            android:authorities="androidx.car.app.connection"/>
    </queries>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-permission android:name="androidx.car.app.MEDIA_TEMPLATES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <permission
        android:name="ua.itaysonlab.vkx.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="ua.itaysonlab.vkx.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/AppTheme.VKX.Liquid.DefaultDark"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="ua.itaysonlab.vkx.VKXApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:banner="@mipmap/ic_banner"
        android:extractNativeLibs="true"
        android:fullBackupContent="false"
        android:networkSecurityConfig="@xml/nsc"
        android:appCategory="audio"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hasFragileUserData="true"
        android:dataExtractionRules="@xml/backup_new"
        android:localeConfig="@xml/locale"
        android:enableOnBackInvokedCallback="false">
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="ua.itaysonlab.vkxtv.VkxCastContextProvider"/>
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>
        <meta-data
            android:name="androidx.car.app.TintableAttributionIcon"
            android:resource="@drawable/op_brand_icon"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="ua.itaysonlab.vkx.androidx-startup">
            <meta-data
                android:name="ua.itaysonlab.vkx.startup.CoreInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="io.realm.kotlin.internal.RealmInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="okhttp3.internal.platform.PlatformInitializer"
                android:value="androidx.startup"/>
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="ua.itaysonlab.vkx.androidx-provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <service
            android:label="@string/app_name"
            android:name="ua.itaysonlab.vkx.service.integrations.LibVkxService"
            android:exported="true"
            android:foregroundServiceType="remoteMessaging">
            <intent-filter>
                <action android:name="bruhcollective.itaysonlab.libvkx.LIBVKX_SERVICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="ru.ytkab0bp.vkmusic.BIND_EXTERNAL_SERVICE"/>
            </intent-filter>
        </service>
        <service
            android:name="ua.itaysonlab.vkxreborn.cache.v2.DedicatedCacheService"
            android:foregroundServiceType="remoteMessaging"/>
        <service
            android:name="ua.itaysonlab.vkx.downloader.service.DownloaderService"
            android:foregroundServiceType="remoteMessaging"/>
        <service
            android:name="ua.itaysonlab.vkxreborn.cache.path_migration.DedicatedCacheMigrationService"
            android:foregroundServiceType="dataSync"/>
        <service
            android:name="ua.itaysonlab.vkxreborn.playback.service.PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService"/>
                <action android:name="android.media.browse.MediaBrowserService"/>
                <action android:name="ua.itaysonlab.vkx.widgets.ACCEPT_COMMAND"/>
                <action android:name="ua.itaysonlab.vkx.external.RESUME"/>
            </intent-filter>
        </service>
        <receiver
            android:name="androidx.media3.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="ua.itaysonlab.vkx.service.AutostartReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/AppTheme.M2.Splash"
            android:name="ua.itaysonlab.vkx.activity.AppActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="screenSize|uiMode|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustResize"
            android:relinquishTaskIdentity="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="vk.com"
                    android:pathPattern="/audio.*"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="vk.com"
                    android:pathPattern="/music/.*"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="vk.com"
                    android:pathPattern="/music.*"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="vk.com"
                    android:pathPattern="/artist/.*"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="vk.ru"
                    android:pathPattern="/audio.*"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="vk.ru"
                    android:pathPattern="/music/.*"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="vk.ru"
                    android:pathPattern="/music.*"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="vk.ru"
                    android:pathPattern="/artist/.*"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:icon="@mipmap/vkx_icon_rc"
            android:name="ua.itaysonlab.vkx.VkxIconRc"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@drawable/vkx_icon_monet"
            android:name="ua.itaysonlab.vkx.VkxIconMonet"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/vkx_icon_mc"
            android:name="ua.itaysonlab.vkx.VkxIconMcModern"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/ic_launcher"
            android:name="ua.itaysonlab.vkx.VkxIcon"
            android:enabled="true"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/vkx_icon_filled"
            android:name="ua.itaysonlab.vkx.VkxIconFilled"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/vkx_icon_filled_morning"
            android:name="ua.itaysonlab.vkx.VkxIconMorningFilled"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/vkx_icon_filled_emerald"
            android:name="ua.itaysonlab.vkx.VkxIconEmeraldFilled"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/vkx_icon_filled_blue"
            android:name="ua.itaysonlab.vkx.VkxIconBlueFilled"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/vkx_icon_morning"
            android:name="ua.itaysonlab.vkx.VkxIconMorning"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/vkx_icon_emerald"
            android:name="ua.itaysonlab.vkx.VkxIconEmerald"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:icon="@mipmap/vkx_icon_blue"
            android:name="ua.itaysonlab.vkx.VkxIconBlue"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="ua.itaysonlab.vkx.activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity
            android:name="ua.itaysonlab.vkx.activity.ShortcutBridgeActivity"
            android:exported="true"/>
        <activity
            android:name="ua.itaysonlab.vkx.activity.ExternalActivity"
            android:enabled="false"
            android:exported="false"/>
        <receiver
            android:name="ua.itaysonlab.vkxreborn.playback.widget_glance.GlanceAfterUpgradeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:label="@string/widget_glance_playing"
            android:name="ua.itaysonlab.vkxreborn.playback.widget_glance.platform.PlayerGlanceWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_glance_player"/>
        </receiver>
        <receiver
            android:label="@string/widget_glance_recommendations_small"
            android:name="ua.itaysonlab.vkxreborn.playback.widget_glance.platform.SmallPlaylistsGlanceWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_glance_recoms_small"/>
        </receiver>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false"
            android:foregroundServiceType="shortService">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true"/>
        </service>
        <provider
            android:name="ua.itaysonlab.vkxreborn.playback.auto.VkxArtworkContentProvider"
            android:exported="true"
            android:authorities="ua.itaysonlab.vkx.service.artwork"/>
        <activity
            android:name="ua.itaysonlab.vkxtv.VkxTvEntrypoint"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name="ua.itaysonlab.vkxreborn.playback.auto2.VkxCarAppService"
            android:enabled="false"
            android:exported="true"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService"/>
                <category android:name="androidx.car.app.category.MEDIA"/>
            </intent-filter>
        </service>
        <activity android:name="ua.itaysonlab.vkxreborn.playback.widget_glance.player_small.SmallPlayerGlanceConfigurationActivity"/>
        <service
            android:name="ua.itaysonlab.vkx.service.AutostartLauncherService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService"/>
        <service
            android:name="androidx.camera.core.impl.MetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <provider
            android:name="ru.utkacraft.liquidnavigation.content.LFileProvider"
            android:exported="false"
            android:authorities="ua.itaysonlab.vkx.liquidengineprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/liquid_engine_file_paths"/>
        </provider>
        <meta-data
            android:name="liquid-themes-supported"
            android:value="true"/>
        <receiver
            android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.cast.framework.ReconnectionService"
            android:exported="false"/>
        <service
            android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider
            android:name="com.google.mlkit.common.internal.MlKitInitProvider"
            android:exported="false"
            android:authorities="ua.itaysonlab.vkx.mlkitinitprovider"
            android:initOrder="99"/>
        <service
            android:name="com.google.android.gms.nearby.exposurenotification.WakeUpService"
            android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK"
            android:exported="true"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <service
            android:name="com.google.firebase.sessions.SessionLifecycleService"
            android:enabled="false"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="ua.itaysonlab.vkx.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="androidx.glance.appwidget.action.ActionTrampolineActivity"
            android:enabled="true"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <activity
            android:theme="@style/Widget.Glance.AppWidget.CallbackTrampoline"
            android:name="androidx.glance.appwidget.action.InvisibleActionTrampolineActivity"
            android:enabled="true"
            android:exported="false"
            android:taskAffinity="androidx.glance.appwidget.ListAdapterCallbackTrampoline"
            android:launchMode="singleInstance"
            android:noHistory="true"/>
        <receiver
            android:name="androidx.glance.appwidget.action.ActionCallbackBroadcastReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name="androidx.glance.appwidget.UnmanagedSessionReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name="androidx.glance.appwidget.MyPackageReplacedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.glance.appwidget.GlanceRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="true"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.car.app.CarAppMetadataHolderService"
            android:enabled="false"
            android:exported="false"
            android:process="">
            <meta-data
                android:name="androidx.car.app.CarAppMetadataHolderService.CAR_HARDWARE_MANAGER"
                android:value="androidx.car.app.hardware.ProjectedCarHardwareManager"/>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="androidx.car.app.CarAppPermissionActivity"
            android:exported="false"/>
        <receiver
            android:name="androidx.car.app.notification.CarAppNotificationBroadcastReceiver"
            android:exported="false"/>
        <service
            android:name="androidx.core.widget.RemoteViewsCompatService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
    </application>
</manifest>
